* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;

    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
    margin: 0;
    background-color: lightblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgray;
}

.todo-list {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    cursor: pointer;
}

li:nth-child(odd) {
    background-color: lightgray;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    background-color: lightblue;
}

.done {
    text-decoration: line-through;
}